### The first 20 classes by person copy & paste

In [ ]:
import pandas as pd

In [1]:
plant_label_list = []
disease_label_list = []

with open('./trial.tsv', 'r') as f:
    while True:
        line = f.readline()
        file_name = line.rstrip().split('\t')[0]
        if file_name == '20.jpg':
            break
        plant_label = line.rstrip().split('\t')[1]
        plant_label_list.append(plant_label)
        disease_label = line.rstrip().split('\t')[2]
        disease_label_list.append(disease_label)

plant_label_list, disease_label_list

(['3',
  '3',
  '4',
  '4',
  '4',
  '5',
  '7',
  '8',
  '8',
  '10',
  '11',
  '13',
  '13',
  '13',
  '13',
  '13',
  '13',
  '13',
  '13',
  '8'],
 ['5',
  '20',
  '2',
  '7',
  '11',
  '8',
  '20',
  '6',
  '9',
  '20',
  '14',
  '1',
  '1',
  '9',
  '15',
  '6',
  '16',
  '18',
  '17',
  '9'])

In [9]:
file_name_list = [str(index) + '.jpg' for index in range(4000)]
file_name_list[:3], file_name_list[-1], len(file_name_list)

(['0.jpg', '1.jpg', '2.jpg'], '3999.jpg', 4000)

In [10]:
plant_label_list *= 200
plant_label_list[20:40], plant_label_list[-1]

(['3',
  '3',
  '4',
  '4',
  '4',
  '5',
  '7',
  '8',
  '8',
  '10',
  '11',
  '13',
  '13',
  '13',
  '13',
  '13',
  '13',
  '13',
  '13',
  '8'],
 '8')

In [11]:
disease_label_list *= 200
disease_label_list[20:40], disease_label_list[-1]

(['5',
  '20',
  '2',
  '7',
  '11',
  '8',
  '20',
  '6',
  '9',
  '20',
  '14',
  '1',
  '1',
  '9',
  '15',
  '6',
  '16',
  '18',
  '17',
  '9'],
 '9')

In [12]:
len(plant_label_list)

4000

In [13]:
import pandas as pd

sub = pd.DataFrame({'file_name': file_name_list,
             'plant_label': plant_label_list,
             'disease_label': disease_label_list})
sub.head(20)

   file_name plant_label disease_label
0      0.jpg           3             5
1      1.jpg           3            20
2      2.jpg           4             2
3      3.jpg           4             7
4      4.jpg           4            11
5      5.jpg           5             8
6      6.jpg           7            20
7      7.jpg           8             6
8      8.jpg           8             9
9      9.jpg          10            20
10    10.jpg          11            14
11    11.jpg          13             1
12    12.jpg          13             1
13    13.jpg          13             9
14    14.jpg          13            15
15    15.jpg          13             6
16    16.jpg          13            16
17    17.jpg          13            18
18    18.jpg          13            17
19    19.jpg           8             9

In [14]:
sub.tail(20)

     file_name plant_label disease_label
3980  3980.jpg           3             5
3981  3981.jpg           3            20
3982  3982.jpg           4             2
3983  3983.jpg           4             7
3984  3984.jpg           4            11
3985  3985.jpg           5             8
3986  3986.jpg           7            20
3987  3987.jpg           8             6
3988  3988.jpg           8             9
3989  3989.jpg          10            20
3990  3990.jpg          11            14
3991  3991.jpg          13             1
3992  3992.jpg          13             1
3993  3993.jpg          13             9
3994  3994.jpg          13            15
3995  3995.jpg          13             6
3996  3996.jpg          13            16
3997  3997.jpg          13            18
3998  3998.jpg          13            17
3999  3999.jpg           8             9

In [7]:
sub.to_csv('sub_person.tsv', index=False, header=None, sep='\t')